body {
	margin: 0;
	padding: 0;
}

#container {
	cursor: pointer;
	position: absolute;
	text-align: center;	
	background: white;
	color: tomato;
	font-weight: bold;
	line-height: 50px;
    left: 400px;
    top: 200px;
    width: 50px;
    height: 50px;
	border: 1px solid tomato;
	border-radius: 50%;
	transition: all ease 0.3s;
	box-sizing: border-box;
	z-index: 1;
}

#container:hover {
	background: tomato;
	color: white;
}